<!DOCTYPE html>

<html>
    
    <head>
            <link href="/assets/create.css" rel="stylesheet" type="text/css">
    </head>
<body>
    
<div class="content">
    <form action="/user_create" method="POST">
        <div class="title">Create Account</div>
        <input name="name" type="text" placeholder="Name"/>
        <input  name="mobile" type="text" placeholder="Mobile Number"/>
        <input name="username" type="text" placeholder="Username"/>
        <input name="password" type="password" placeholder="Password"/>
        <input  type="checkbox" id="rememberMe"/>
        <button >LINK BANK ACCOUNT</button>
        <button type="submit">CREATE ACCOUNT</button>
    </form>
    <div class="already">Already have an account? <a href="/login">Sign in</button>
    </div> 
</div>
</body>
  </html>